       @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
       /* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); */
       
       html {
           scroll-behavior: smooth;
       }
       
       body {
           background-color: #f0efef;
           font-family: 'Space Grotesk', sans-serif;
           /* font-family: 'Comfortaa', cursive; */
       }
       
       .Skill {
           display: flex;
           flex-direction: row;
           margin: -140px 40px 25px;
           color: #2e1732;
       }
       
       .A-txt {
           font-size: 3.5em;
       }
       
       .Aud:hover {
           outline: 0.19em solid #2b355b;
           box-shadow: 0 0.25em 4em rgba(0, 0, 0, 0.075);
           border-radius: 25px;
           -webkit-border-radius: 20px;
           -moz-border-radius: 25px;
           -ms-border-radius: 25px;
           -o-border-radius: 25px;
           font-size: 5px;
           padding: 30px;
       }
       
       .container {
           background-color: #2b355b;
           display: flex;
           flex-direction: row;
           justify-content: flex-end;
           width: 100%;
           overflow: hidden;
           top: 0;
           position: fixed;
           z-index: 10000;
       }
       
       li {
           list-style: none;
           font-size: 20px;
       }
       
       a {
           padding-right: 75px;
           font-weight: 500;
           color: #fff;
           text-decoration: none;
       }
       
       a:hover {
           margin-right: 40px;
           padding: 20px;
           color: #2b355b;
           background-color: #eee;
           transition: all .3s;
           -webkit-transition: all .3s;
           -moz-transition: all .3s;
           -ms-transition: all .3s;
           -o-transition: all .3s;
       }
       
       .contain {
           margin-left: -50px;
       }
       
       .text-box {
           padding: 140px 126px;
           backface-visibility: hidden;
           -webkit-backface-visibility: hidden;
       }
       
       .item {
           margin: -9px;
           padding: 25px;
       }
       
       .header1 {
           /* text-transform: uppercase; */
           font-weight: 500;
           display: inline-block;
           color: #2e1732;
           letter-spacing: 5px;
           transition: all .2s;
           -webkit-transition: all .2s;
           -moz-transition: all .2s;
           -ms-transition: all .2s;
           -o-transition: all .2s;
           animation-name: moveInDown;
           animation-duration: 3s;
       }
       
       .header1:hover {
           transform: scaleX(2deg);
           -webkit-transform: scaleX(2deg);
           -moz-transform: scaleX(2deg);
           -ms-transform: scaleX(2deg);
           -o-transform: scaleX(2deg);
       }
       
       .small-text {
           font-size: 2.5rem;
       }
       
       .aniekeme {
           font-size: 2.5em;
       }
       
       .sub-text {
           font-size: 1.2em;
           color: #2e1732;
           animation: moveInUp 1s ease-in;
           -webkit-animation: moveInUp 1s ease-in;
           padding-bottom: 10px;
       }
       
       .btn:link,
       .btn:visited {
           position: relative;
           cursor: pointer;
           border: 2px solid #2b355b;
           color: #2e1732;
           display: inline-block;
           background-color: transparent;
           text-decoration: none;
           border-radius: 100px;
           -webkit-border-radius: 100px;
           -moz-border-radius: 100px;
           -ms-border-radius: 100px;
           -o-border-radius: 100px;
           top: 12%;
           padding: 1em 3em;
           text-transform: capitalize;
           font-weight: 600;
           font-size: 1.1em;
           font-family: sans-serif;
           transition: all .2s;
           -webkit-transition: all .2s;
           -moz-transition: all .2s;
           -ms-transition: all .2s;
           -o-transition: all .2s;
           backface-visibility: hidden;
           -webkit-backface-visibility: hidden;
       }
       
       .btn:hover {
           transform: translateY(-3px);
           -webkit-transform: translateY(-3px);
           -moz-transform: translateY(-3px);
           -ms-transform: translateY(-3px);
           -o-transform: translateY(-3px);
           box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
           background-color: #2b355b;
           color: #fff;
       }
       
       .btn:active {
           transform: translateY(-3px);
           -webkit-transform: translateY(-3px);
           -moz-transform: translateY(-3px);
           -ms-transform: translateY(-3px);
           -o-transform: translateY(-3px);
           box-shadow: 0 5px 1px rgba(0, 0, 0, .2);
       }
       
       .btn-animated {
           animation: moveInButton 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
           -webkit-animation: moveInButton 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
           animation-fill-mode: both;
       }
       
       @keyframes moveInButton {
           0% {
               opacity: 0;
               transform: translatex(-30px);
               -webkit-transform: translatex(-30px);
               -moz-transform: translatex(-30px);
               -ms-transform: translatex(-30px);
               -o-transform: translatex(-30px);
           }
           100% {
               opacity: 1;
               transform: translate(0);
               -webkit-transform: translate(0);
               -moz-transform: translate(0);
               -ms-transform: translate(0);
               -o-transform: translate(0);
           }
       }
       
       @keyframes moveInDown {
           0% {
               opacity: 0;
               transform: translateY(-100px);
               -webkit-transform: translateY(-100px);
               -moz-transform: translateY(-100px);
               -ms-transform: translateY(-100px);
               -o-transform: translateY(-100px);
           }
           80% {
               transform: translateY(20px);
               -webkit-transform: translateY(20px);
               -moz-transform: translateY(20px);
               -ms-transform: translateY(20px);
               -o-transform: translateY(20px);
           }
           100% {
               opacity: 1;
               transform: translate(0);
               -webkit-transform: translate(0);
               -moz-transform: translate(0);
               -ms-transform: translate(0);
               -o-transform: translate(0);
           }
       }
       
       @keyframes moveInUp {
           0% {
               opacity: 0;
               transform: translateY(100px);
               -webkit-transform: translateY(100px);
               -moz-transform: translateY(100px);
               -ms-transform: translateY(100px);
               -o-transform: translateY(100px);
           }
           80% {
               transform: translateY(-20px);
               -webkit-transform: translateY(-20px);
               -moz-transform: translateY(-20px);
               -ms-transform: translateY(-20px);
               -o-transform: translateY(-20px);
           }
           100% {
               opacity: 1;
               transform: translate(0);
               -webkit-transform: translate(0);
               -moz-transform: translate(0);
               -ms-transform: translate(0);
               -o-transform: translate(0);
           }
       }
       
       @keyframes animated {
           0% {
               transform: translate(-50%, 20px);
               -webkit-transform: translate(-50%, 20px);
               -moz-transform: translate(-50%, 20px);
               -ms-transform: translate(-50%, 20px);
               -o-transform: translate(-50%, 20px);
           }
           80% {
               transform: translate(-50%, 60px);
               -webkit-transform: translate(-50%, 60px);
               -moz-transform: translate(-50%, 60px);
               -ms-transform: translate(-50%, 60px);
               -o-transform: translate(-50%, 60px);
           }
           100% {
               transform: translate(-50%, 100px);
               -webkit-transform: translate(-50%, 100px);
               -moz-transform: translate(-50%, 100px);
               -ms-transform: translate(-50%, 100px);
               -o-transform: translate(-50%, 100px);
           }
       }
       
       .hero1 {
           max-width: 400px;
           position: relative;
           margin: auto;
       }
       
       .pic {
           margin-left: 25em;
           margin-top: -36em;
           width: 30%;
           outline-offset: .5rem;
           transition: all .2s;
           -webkit-transition: all .2s;
           -moz-transition: all .2s;
           -ms-transition: all .2s;
           -o-transition: all .2s;
           overflow: hidden;
           border-radius: 35px;
           -webkit-border-radius: 35px;
           -moz-border-radius: 35px;
           -ms-border-radius: 35px;
           -o-border-radius: 35px;
       }
       
       .hero1 .pic {
           width: 100%;
           border: 10px solid rgba(255, 255, 255, 0.2);
           box-sizing: border-box;
       }
       
       .hero1 .pic:hover {
           outline: 0.5em solid #2b355b;
           box-shadow: 0 0.25em 4em rgba(0, 0, 0, 0.301);
           transform: 1.05;
           -webkit-transform: 1.05;
           -moz-transform: 1.05;
           -ms-transform: 1.05;
           -o-transform: 1.05;
       }
       
       #section1 {
           background-color: #f0efef;
       }
       
       #section2 {
           background-color: #f0efef;
           height: 95vh;
       }
       
       .formBx {
           min-width: 60%;
           padding: 200px;
       }
       
       .formBx form {
           display: flex;
           flex-direction: column;
           margin-top: -200px;
       }
       
       .formBx form h1 {
           color: #2b355b;
           font-size: 3em;
           font-weight: 500;
           margin-bottom: 1px;
           text-align: center;
           padding: 1em;
       }
       
       .formBx form input,
       .formBx form textarea {
           margin-bottom: 20px;
           padding: 15px;
           font-size: 16px;
           background: transparent;
           border: none;
           outline: none;
           background: #fff;
           color: rgba(0, 0, 0, 0.705);
           border: 1px solid #2e17329c;
       }
       
       .bttn {
           background-color: #2b355b;
           text-align: center;
           margin: 0 16em 0 16em;
           padding: 0.3em;
           font-size: 22px;
           font-weight: 400;
           color: #fff;
           border-radius: 10px;
           -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
           -ms-border-radius: 10px;
           -o-border-radius: 10px;
           -webkit-border-radius: 10px;
       }
       
       .bg {
           background-color: #009879;
           margin-bottom: -40px;
       }
       
       #section3 {
           background-color: #f0efef;
           height: 95vh;
       }
       
       .mother {
           min-height: 100vh;
           display: flex;
           align-items: center;
           justify-content: center;
       }
       
       .regContain {
           position: relative;
           max-width: 900px;
           width: 100%;
           background-color: #2b355b0e;
           border-radius: 6px;
           -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
           -ms-border-radius: 6px;
           -o-border-radius: 6px;
           padding: 30px;
           margin: 0 15px;
           box-shadow: 0 5px 10px rgba(0, 0, 0, 0.473);
       }
       
       .regContain .head_text {
           position: relative;
           font-size: 20px;
           font-weight: 600;
           color: #333;
       }
       
       .regContain .head_text::before {
           content: "";
           position: absolute;
           bottom: -2px;
           height: 3px;
           width: 27px;
           background-color: #333;
           left: 0;
           border-radius: 8px;
           -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
           -ms-border-radius: 8px;
           -o-border-radius: 8px;
       }
       
       .regContain form {
           position: relative;
           margin-top: 16px;
           min-height: 400px;
       }
       
       .regContain form .details {
           margin-top: 30px;
       }
       
       .regContain form .title {
           display: block;
           margin-bottom: 8px;
           font-size: 18px;
           font-weight: 500;
           margin: 6px 0;
           color: #333;
       }
       
       .regContain form .fields {
           display: flex;
           align-items: center;
           align-content: center;
           justify-content: space-around;
           flex-wrap: wrap;
       }
       
       form .fields .input-field {
           display: flex;
           width: calc(100% / 3 - 15px);
           flex-direction: column;
           margin: 4px 0;
       }
       
       .input-field label {
           font-size: 15px;
           font-weight: 500;
           color: #2e2e2e;
       }
       
       .input-field input {
           outline: none;
           font-size: 14px;
           font-weight: 400;
           border-radius: 5px;
           color: #333;
           border: 1px solid #aaa;
           padding: 0 15px;
           height: 42px;
           margin: 8px 0;
           -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
           -ms-border-radius: 5px;
           -o-border-radius: 5px;
       }
       
       .input-field input select:is(:focus,
        :valid) {
           box-shadow: 0 3px 6px rgba(0, 0, 0, 0.336);
       }
       
       .input-field input select[type="date"] {
           color: #333;
       }
       
       .input-field input select[type="date"]:valid {
           color: #333;
       }
       
       .regContain form button {
           display: flex;
           align-items: center;
           justify-content: center;
           height: 45px;
           max-width: 200px;
           width: 100%;
           border: none;
           outline: none;
           color: #fff;
           border-radius: 10px;
           -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
           -ms-border-radius: 10px;
           -o-border-radius: 10px;
           margin: 25px 0;
           background-color: #2b355b;
       }
       
       select {
           outline: none;
           font-size: 14px;
           font-weight: 400;
           border-radius: 5px;
           color: #333;
           border: 1px solid #aaa;
           padding: 0 15px;
           height: 42px;
           margin: 8px 0;
           -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
           -ms-border-radius: 5px;
           -o-border-radius: 5px;
       }
       
       button {
           font-size: 17px;
       }
       
       #section4 {
           background-color: #f0efef;
           height: 95vh;
       }
       
       .login-form {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
       }
       
       .login {
           padding: 2em 5em 7em 5em;
           margin: 8em;
           background-color: #2b355b0e;
           border-radius: 6px;
           -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
           -ms-border-radius: 6px;
           -o-border-radius: 6px;
           box-shadow: 0 5px 10px rgba(0, 0, 0, 0.473);
       }
       
       .login h1 {
           font-weight: 500;
           color: #2b355b;
       }
       
       .login input {
           outline: none;
           font-size: 14px;
           font-weight: 400;
           border-radius: 5px;
           color: #333;
           border: 1px solid #aaa;
           padding: 0 15px;
           height: 35px;
           margin: 8px 0;
           -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
           -ms-border-radius: 5px;
           -o-border-radius: 5px;
       }
       
       .logtxt {
           margin-top: 30px;
           color: #333;
       }
       
       .log-btn {
           margin: 5px;
           text-align: center;
           background-color: #2b355b;
           padding: 3.5px;
           font-size: 22px;
           font-weight: 400;
           color: #fff;
           border-radius: 2em;
           -webkit-border-radius: 2em;
           -moz-border-radius: 2em;
           -ms-border-radius: 2em;
           -o-border-radius: 2em;
           -webkit-border-radius: 10px;
       }